[Unit]
Description=Sorcerer Client

[Service]
WorkingDirectory=/sorcerer/publish/
ExecStart=/usr/bin/dotnet --additional-deps /sorcerer/publish/ --additionalprobingpath /sorcerer/publish/ /sorcerer/publish/SorcererClient.dll
Restart=on-failure
RestartSec=10
Type=simple

[Install]
WantedBy=multi-user.target 
